{% extends 'NetvliesPublishBundle::layout.html.twig' %}

{% block content %}

    <h3>Executing deployment
        {% if command.target is not empty %}
            on ({{ command.target.environment.type }}) {{ command.target.environment.hostname }}
        {% endif %}
    </h3>
    <hr>

    <script src="http://organist.o3.nvsotap.nl:8080/socket.io/socket.io.js"></script>
    <script src="http://organist.o3.nvsotap.nl:8080/term.js"></script>
    <script src="http://organist.o3.nvsotap.nl:8080/cmd_{{ command.id }}"></script>

    <div id="term" class="col-lg-12">

    </div>

    <hr>

    <div class="col-lg-12">
        <h4>Deployment command</h4>
        <pre>{{ command.command | replace({' && ': '<br>', ' &&': '<br>', '&& ': '<br>', '&&': '<br>'}) | raw }}</pre>
    </div>

{% endblock %}
