<div class="col-lg-2"></div>
<div class="col-lg-10">
    {% if errorMsg is not empty %}
        Failed to retrieve changeset<br>
        Maybe you selected a different branch compared to the previously deployed branch?<br>
        Can't determine delta when changes aren't linear
    {% else %}
        <label>Changeset that will be deployed</label>

        <table class="table">
        {% for commit in messages  %}
            <tr>
                <td>{{ commit.author }}</td>
                <td>{{ commit.message }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>