/.idea
/web/repos
/web/bundles
/vendor
/app/cache
/app/logs
/app/bootstrap.php.cache
/app/config/parameters.yml
/composer.phar
/bin
/.bowerrc
/bower.json
/package.json
/node_modules
/docker/log
/docker/mysql/databases
