{% extends 'NetvliesPublishBundle::base2.html.twig' %}
{% block oms_project_name %}{{application.name}}{% endblock %}

{% block content %}
<div id="content-wrapper">

    <section id="content">
        <header>
            <h1>Adding target for {{application.name}} - Step 2</h1>
        </header>
        <hr />
        <div id="text">
            Usually all of these values are correct. Only change them if you really know what you are doing.
            <ul>
                <li>On T, A and P targets a capistrano setup will be prepared. See deploy.rb for details</li>
                <li>On O targets nothing will be done</li>
            </ul>
            <form action="" method="POST">

                {{ form_errors(form) }}
                {{ form_widget(form) }}

                <input type="submit" value="Save" />

            </form>
        </div>
    </section>
</div>


{% endblock %}