{% extends 'NetvliesPublishBundle::base2.html.twig' %}

{% block content %}

        <h2></h2>

        <form action="" method="POST">

            {{ form_errors(formStep1) }}
            {{ form_widget(formStep1) }}

            <input type="submit" value="Next" />

        </form>


{% endblock %}