{% extends 'NetvliesPublishBundle::base2.html.twig' %}
{% block oms_project_name %}{{application.name}}{% endblock %}

{% block content %}

    <div id="content-wrapper">

        <section id="content">
            <header>
                <h1>Edit target for {{application.name}}</h1>
            </header>
            <hr />
            <div id="text">

                <form action="" method="POST">

                    {{ form_errors(form) }}
                    {{ form_widget(form) }}


                    <input type="submit" value="Opslaan" />

                </form>
            </div>
        </section>
    </div>

{% endblock %}