{% extends 'NetvliesPublishBundle::base2.html.twig' %}


{% block content %}

    <h2>Cloning {{site.name}}</h2>

    Output<br>
    <div>
        {% render "NetvliesPublishBundle:Console:exec" with {'script': script} %}
    </div>

{#
    <iframe src="{{ path('netvlies_publish_console_exec', {'script': script})}}" width="950" height="510"></iframe>
#}


{% endblock %}