{% extends 'NetvliesPublishBundle::layout.html.twig' %}

{% block body %}
<h2>You're not authorized to acces Organist Publication tool</h2>

<ul>
    <li>You're not logged in</li>
    <li>This server can't connect to google</li>
    <li>You're e-mail address doesnt have the rigth domain suffix</li>
</ul>

{% endblock %}