{% extends 'NetvliesPublishBundle::base2.html.twig' %}

{% block content %}

        <h2>{{application.name}}</h2>
        <a href="{{path('netvlies_publish_git_pull', {'id': application.id})}}" target="_blank">Update deployment descriptors</a>

        <form action="" method="POST">

            {{ form_errors(form) }}
            {{ form_widget(form) }}

            <input type="submit" value="Opslaan" />

        </form>

{% endblock %}