{% extends 'NetvliesPublishBundle::layout.html.twig' %}

{% block content %}
<div id="content-wrapper">

    <section id="content">
        <header>

        </header>
        <hr />
        <div id="text">

            <form action="" method="POST">

                {{ form_errors(form) }}
                {{ form_widget(form) }}

                <br/>
                <input type="submit" value="Opslaan" class="button"/>
                <a href="{{ path('netvlies_publish_default_index') }}" class="button">Annuleren</a>

            </form>
        </div>
    </section>
</div>

{% endblock %}
