{% extends 'NetvliesPublishBundle::layout.html.twig' %}

{% block content %}

    <h3>Add application</h3>
        <hr />

            <form action="" method="POST">

                {{ form_errors(form) }}
                {{ form_widget(form) }}

                <br/>
                <p>Choosing the application type will have effect on some default settings (e.g. shared files and folders)</p>

                <a href="{{ path('netvlies_publish_default_index') }}" class="btn btn-warning">Cancel</a>
                <input type="submit" value="Save" class="btn btn-default"/>

            </form>


{% endblock %}
