{% set targettab = true %}
{% extends 'NetvliesPublishBundle::layout.html.twig' %}
{% form_theme form 'NetvliesPublishBundle:Form:extended_div_layout.html.twig' %}

{% block content %}

    <h3>Edit target for {{application.name}}</h3>
    <hr />

    <div class="alert alert-info">
        Note: Nothing will be changed on target server! E.g. if a path is changed, you need to fix this manually on remote server
    </div>

    <form action="" method="POST" class="form-horizontal">

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <div class="pull-right">
            <a href="{{ path('netvlies_publish_target_targets', {'id': application.id}) }}" class="btn btn-warning">Cancel</a>
            <input type="submit" value="Save" class="btn btn-default"/>
        </div>
    </form>

{% endblock %}
