.dnd-tree {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 1;
	text-decoration: none;
    
    ul, li {
        position: relative;
        margin :0;
        padding: 0;
        list-style: none;
        z-index: 1;
        text-decoration: none;
    }

    li {
        line-height: 32px;
    
        > a {
            display: block;
            border: solid transparent;
            border-width: 1px 0;
        }
        li {
            padding-left: 10px;
        }
    }
    
    .dragging {
        position:absolute;
        z-index:999;
    }
    
    .clone {
        opacity:.5;
    }
    
    .target {
        &.top > a {
            border-top-color:black;
        }
        
        &.bottom > a {
            border-bottom-color:black;
        }
        
        &.on > a {
            border-color:black;
            border-width:1px;
            background-color:#ccc;
        }
    }
}