// Settings & imports
$experimental-support-for-svg: true;
$sprite-spacing: 0px;
$sprite-sprite-dimensions: true;
@import "base";
@import "colors";
@import "fonts";
@import "buttons";
@import "sprite/*.png";

@import "sortable-table";
@import "dnd-tree";
@import "lightboxes";
@import "paging";
@import "autocomplete";
@import "tabs";
@import "tables";
@import "form";

/* ========== primary styles ========== Author: Paul Verbeek ========== */

html { height:100%; }
body{ background: url(data:image/gif;base64,R0lGODlhBAAEAIAAAPr6+vb29iH5BAAAAAAALAAAAAAEAAQAAAIGBBKGqAkFADs=) repeat; position:relative; min-height:100%; height:100%; margin: 0; font-size: 11px; line-height: 1.231; }
body, button, input, select, textarea { font-family: $default-font; color: $textColor; }

a { color: $link; }

/* ========== Header ========== */

header[role=banner] {
    height: 63px;
    color: $headerText;
    @include contentPadding;
    background: mix($headerFrom, $headerTo);
    @include background(linear-gradient($headerFrom, $headerTo));
    @include box-shadow(0 1px 3px rgba(0,0,0,.51));
    position: relative;

    h1 {
        margin: 0 20px 0 0;
        font-family: $DinMedium;
        font-size: 281.81%;
        float: left;
        line-height: 2;
        color: #fff;

        &:hover a{
           @include transform(rotateY(360deg));
        }

        a {
            color: #fff;
            text-decoration: none;
            display:block;
            @include transition(all 1s);
        }
    }

    nav { padding-top: 13px; }

    li {
        float: left;
        margin-right: 4px;
        width: 36px;
        height: 33px;
        position: relative;

        button {
            width: 36px;
            @include headerButton(rgba(255,255,255,0.09), rgba(255,255,255,0));

            span {
                display: block;
                position: relative;

                &:after {
                    @include pseudoStart;
                }
            }

            @import "header-buttons";

            &.current, &:active, &:focus {
                background: #2f2f2f;
                @include box-shadow(inset 0 1px 2px rgba(0,0,0,.69));
            }

        }

        &.right-button {
            float: right;
            margin: 0 0 0 15px;
        }

        &.search {
            position: absolute;
            width: auto;
            height: auto;
            margin: 0 3% 0;
            border: 0;
            right: 40px;
            top: 12px;

            &:after {
                content: none;
            }

            input {
                height: 31px;
                width: 200px;
                padding: 0;
                margin: 0;
                border-radius: 3.1px;
                border: solid 1px #3b3b3b;
                overflow: hidden;
                padding-left: 12px;
                @include box-shadow(inset 1px 1px 0 rgba(0,0,0,.3));
                @include transition(width .4s cubic-bezier(.67,.4,.47,1.24));

                &:focus { width: 300px; }
            }
        }
    }

    .tooltip {
        position: absolute;
        bottom: -39px;
        left: 0;
        color: $tooltipText;
        font-size: 12px;
        padding: 8px 11px;
        border-radius: 2px;
        background: $tooltipFrom;
        @include background(linear-gradient($tooltipFrom, $tooltipTo));
        z-index: 10;
        @include box-shadow(3px 3px 5px rgba(0,0,0,.75));
        font-family: Arial, sans-serif;

        &:after {
            @include pseudoStart;
            top: -5px;
            left: 50%;
            margin-left: -4px;
            border-width: 0 5px 5px;
            border-style: solid;
            border-color: $tooltipFrom transparent;
            display: block;
            width: 0;
        }
    }
}
/* ========== Sub navigation ========== */
#subnav {
    background: $subnavBackground;
    border: solid $subnavBorder;
    border-width: 1px 0;
    @include contentPadding;
    padding-bottom: 8px;
    color: $subnavText;
    font-size: 14px;
    font-family: Arial, sans-serif;
    position: relative;
    display: none;

    &:before {
        @include pseudoStart;
        bottom: -4px;
        height: 2px;
        left: 0;
        width: 100%;
        background: #f7f8f9;
        border-bottom: solid 1px rgba(0,0,0,.15);
    }

    > ul {
        @include clearfix;
        @include resetList;
        display: none;

        > li {
            float: left;
            height: 31px;
            margin-top: 7px;
            position: relative;

            > a {
                border-left: solid 1px #000;
                padding: 8px 15px;
                display: block;
            }
            &.current {
                a.dropdown {
                    height: 31px;
                    margin-top: -7px;
                    line-height: 31px;
                    background: black;

                    &:after {
                        top: 22px;
                    }

                    &:before {
                        @include pseudoStart;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: $color1;
                    }
                }
            }
            &.opened {
                button.dropdown {
                    background: #fff;
                    @include box-shadow(inset 0 0 0 1px #d0d0d0);
                    padding-top: 6px;
                    padding-bottom: 34px;
                    border-radius: 3px 3px 2px 2px;
                    color: $link;
                    text-shadow: none;

                    span:after {
                        @include sprite-sprite(close-pink);
                    }
                }

                a.dropdown {
                    color: $link;
                    height: 31px;
                    margin-top: -7px;
                    line-height: 31px;
                    background: white;

                    &:after {
                        @include sprite-sprite(close-pink);
                        top: 22px;
                    }

                    &:before {
                        @include pseudoStart;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: $color1;
                    }
                }

                .drop {
                    display: block;
                }
            }
        }
    }

    a {
        color: $subnavText;
        text-decoration: none;

        &.dropdown {
            padding-right: 25px;
            position: relative;

            &:after {
                @include pseudoIcon(drop-arrow, 15px, 11px);
            }

        }
    }

    .drop a {
        color: $dropdownLinks;
    }

    button {
        color: $subnavText;
        @include headerButton(#414242, #2f3030);
        padding: 0 30px 0 11px;
        margin-right: 4px;

        span {
            display: inline-block;

            &:after {
                @include pseudoIcon(drop-arrow, 16px, 13px);
            }
        }

        &:hover {
            @include background(linear-gradient(rgba(255,255,255,.14), rgba(255,255,255,0)));
            text-shadow: 1px 1px 6px rgba(0,0,0,.9);
        }

        &:active, &:focus {
            background: #2f2f2f;
            @include box-shadow(inset 0 1px 2px rgba(0,0,0,.69));

            &:hover {
                text-shadow: none;
            }
        }
    }

    .flags {
        button {
            width: 57px;
            &:before {
                top: 11px;
                left: 11px;
            }
        }
        ul {
            a {
                font-weight: normal;
            }
        }
    }
}

.drop {
    display: none;
    white-space: nowrap;
    position: absolute;
    background:#fff;
    top: 40px;
    left: 1px;
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.61));
    padding: 13px 20px;
    z-index: 5;

    ul {
        @include resetList;
    }

    > ul {
        max-width: 200px;
        min-width: 125px;
        display: inline-block;
        vertical-align: text-top;

        + ul {
            padding-left: 30px;
        }

        li {
            line-height: 32px;
        }

        a {
            font-weight: bold;
            color: $dropdownLinks;
            width: 100%;
            @include ellipsis;
            display: block;
            font-size: 13px;
        }
        ul {
            margin-top: -4px;

            li {
                line-height: 24px;
            }
            a {
                font-weight: normal;
            }
        }
    }
}

.flags {
    @import "flags";

    button {
        @include ir;

        &:before {
            @include pseudoStart;
        }
    }

    a {
        position: relative;
        display: block;
        padding-left: 27px;

        &:before {
            @include pseudoStart;
            top: 9px;
            left: 0;
        }

    }

    .drop > ul li {
        position: relative;
        line-height: 29px;

        &:before {
            @include pseudoStart;
        }

        + li {
            border-top: solid 1px #d4d4d4;
        }
    }
}

/* ========== Content wrapper ========== */
#content-wrapper {
    @include contentMargin;
    margin-top: 25px;
    border: solid 1px $contentBorder;
    border-radius: 5px;
    @include clearfix;
    overflow: hidden;
    width: 94%;
    background: $sidenavBackground;


/* ========== Side navigation ========== */
    $itemHeight: 35px;

    nav {
        width: 25%;
        @include box-sizing(border-box);
        background: $sidenavBackground;
        min-height: 100%;
        float: left;

        a.back {
            height: 63px;
            line-height: 63px;
            display: block;
            color: #6a6a6a;
            font-family: $DinRegular;
            text-decoration: none;
            position: relative;
            padding: 0 20px 0 48px;
            font-size: 18px;
            @include ellipsis;
            width: 100%;
            box-sizing: border-box;

            &:before {
                @include pseudoStart;
                top: 16px;
                left: 11px;
                width: 21px;
                height: 26px;
                border-radius: 3.1px;
                background: #eceae5;
                border: solid 1px #bfbfbf;
            }
            &:after {
                @include pseudoIcon(back-arrow, 23px, none, none, 18px);
            }

            &:active:before, &:focus:before {
                @include box-shadow(inset 1px 1px 6px rgba(0,0,0,.18));
            }

            &:hover:before {
                color: $buttonColorActive;
                @include background(linear-gradient(rgba(236,234,229,.76), rgba(222,220,215,.76)), #fff);
            }
        }

        ul {
            margin-bottom: $itemHeight;
        }

        li {
            position: relative;
            border-bottom: solid 1px #cbcbca;
            @include clearfix;

            a {
                width: 100%;
                padding-left: 9.5%;
                display: block;
                height: $itemHeight;
                line-height: $itemHeight - 2;
                color: $buttonColor;
                float: right;
                @include box-sizing(border-box);
                @include ellipsis;
                text-decoration: none;
            }

            &.current, &:active {
                a {
                    color: $buttonColorActive;
                    @include background(linear-gradient(rgba(236,234,229,.43), rgba(222,220,215,.43)));
                    @include box-shadow(inset 1px 1px 6px rgba(0,0,0,.18));
                }
            }
            &:hover {
                color: $buttonColorActive;
                @include background(linear-gradient(rgba(236,234,229,.76), rgba(222,220,215,.76)), #fff);
            }
            &.current {
                &:before {
                    @include pseudoStart;
                    left: -1px;
                    top: -1px;
                    width: 2.5%;
                    height: $itemHeight;

                    background: $color1;
                    border-color: darken($color1, 9%) $color1 darken($color1, 2.5%);
                    border-width: 1px 0 1px 1px;
                    border-style: solid;
                }
                a {
                    width: 97.5%;
                    padding-left: 7%;
                }
            }
            &:first-child {
                border-top: solid 1px #cbcbca;
            }
        }
    }

}

/* ========== content ========== */
#content {
    background: $contentBackground;
    width: 75%;
    float: left;

    header {
        @include clearfix;
        margin: 20px 30px;
    }
    .link {
        display: block;
        margin: 0 30px;
        @include ellipsis;
        padding-left: 21px;
        position: relative;

        &:before {
            @include pseudoIcon(link, 0, none, none, 0);
        }
    }
    > hr {
        margin: 20px 30px;
    }
    form {
        margin: 20px 30px;
    }
    h1 {
        font-family: $DinRegular;
        font-size: 24px;
        color: $contentTitle;
        display: inline-block;
        max-width: 100%;
        margin: 0 10px 10px 0;
        @include ellipsis;
    }
    .tabs {
        float: right;
        margin: 0 0 10px 0;

        .flags {
            button {
                padding: 0 28px 0 17px;
                width: 61px;

                &:before {
                    top: 8px;
                    left: 13px;
                }
                span {
                    display: inline-block;

                    &:after {
                        @include pseudoIcon(drop-arrow-grey, 12px, 10px);
                    }
                }
            }
            &.opened button span:after {
                    @include pseudoIcon(close-grey, 12px, 10px);
            }
            ul {
                a {
                    font-weight: normal;
                }
            }
        }
    }

}

/************************************************
 *                                              *
 * Onderstaande code is nog van de oude style   *
 *                                              *
 ************************************************/

/* ========== content ========== */

.alert-bar {
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	height: 0px;
	background-color: #f9f19d;
	width: 100%;
	z-index: 9999;
	font-size: 1.3em;
    &.red {
        background-color: #F01148;
        color: #fff;
    }
    &.green { background-color: #11F0B9; }
}

#ajax-results {
	color: red;
}

@import "base-bottom";