# Symfony default
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
composer.phar

# SASS
.sass-cache

# PhpStorm
.idea

# Eclipse
.buildpath
.project
.settings

# Netbeans
nbproject

# Coda
*._*

# OS-related
thumbs.db
.DS_Store
WS_FTP.LOG
desktop.ini
